@charset "UTF-8";

/* Impressoras */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    header i.material-icons,
    header li {
        display: none;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        width: 690px;
    }

    header i.material-icons {
        display: none;
    }

    header menu {
        display: block;
    }

    header li {
        display: inline-block;
    }

    header a {
        padding: 10px 20px 10px 20px;
    }
}

/* Laptops/Desktops */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        width: 690px;
    }

    header i.material-icons {
        display: none;
    }

    header menu {
        display: block;
    }

    header li {
        display: inline-block;
    }

    header a {
        padding: 10px 20px 10px 20px;
    }
}

/* Telas Grandes */
@media screen and (min-width: 1200px) {
    main {
        width: 690px;
    }

    header i.material-icons {
        display: none;
    }

    header menu {
        display: block;
    }

    header li {
        display: inline-block;
    }

    header a {
        padding: 10px 20px 10px 20px;
    }
}