@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        width: 690px;
    }

    header i.material-icons {
        display: none;
    }

    header menu {
        display: block;
    }

    header li {
        display: inline-block;
    }

    header a {
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        width: 690px;
    }

    header i.material-icons {
        display: none;
    }

    header menu {
        display: block;
    }

    header li {
        display: inline-block;
    }

    header a {
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 690px;
    }

    header i.material-icons {
        display: none;
    }

    header menu {
        display: block;
    }

    header li {
        display: inline-block;
    }

    header a {
        padding: 10px 20px 10px 20px;
    }
}