@charset "UTF-8";

/* Versão Mobile First */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: url(../image/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background: rgba(255, 255, 255, 0.705) no-repeat;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 10px 0px 10px;
    border-radius: 10px;
    text-align: center;
}

main h1 {
    font-size: 2.4em;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.411);
}

img {
    margin: auto;
}

img#tablet,
#print,
#pc,
#tv {
    display: none;
}